.toolbar {
  display: flex;
  justify-content: space-between;

  span {
    cursor: pointer;
  }
}

.active {
  background: #344397;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
